.navigationItem {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: #8f5c2c;
    width: 100%;
    box-sizing: border-box;
    display: block;
  }

  a:active,
  a:hover,
  a.active {
    color: 40a4c8;
  }
}

@media (min-width: 500px) {
  .navigationItem {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    width: auto;
    a {
      text-decoration: none;
      color: #fff;
      height: 100%;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;
    }

    a:active,
    a:hover,
    a.active {
      background-color: #8f5c2c;
      border-bottom: 4px solid #40a4c8;
      color: white;
    }
  }
}
